@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Web;
@using System.Web.Mvc;
@using DoctorAppointmentBookingSys.Models.Classes;
@using System.Globalization;
@using System.ComponentModel.DataAnnotations;

@model List<Clinic>
@{
    ViewBag.Title = "ClinicIndex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered " style="margin-top:18px">
    <tr>
        <th> Clinic Name </th>
        <th> Adress </th>
        <th> Doctors </th>
    </tr>
    @foreach (var l in Model)
    {
        <tr>
            <td>
                @l.ClinicName
            </td>
            <td>
                @l.Address
            </td>
            <td>
                @{
                    string doctorNames = "";
                    if (l.Doctors != null)
                    {
                        var list = l.Doctors.Select(p => p.DoctorName);
                        doctorNames = string.Join(", ", list);
                    }
                }
                @doctorNames
            </td>
        </tr>
    }
</table>
